* {
  font-optical-sizing: auto;
}

header {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section,
footer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 1400px;
  padding: 1rem;
}

section.categories {
  justify-content: center;
  margin-bottom: 1rem;
  align-items: center;
}

footer {
  width: min(500px, 100vw);
  margin-block: 1rem;
  border-top: 1px solid var(--mantine-primary-color-1);
  justify-content: center;
  align-items: center;
}

.item-card {
  position: relative;
  flex-grow: 1;
  width: fit-content;
  min-width: var(--item-min-width, 200px);
  max-width: var(--item-max-width, 500px);
}

.item-header {
  flex-direction: var(--item-header-direction, row);
  row-gap: 0;
  column-gap: 0.5rem;
}

.item-badges {
  gap: 0.25rem;
  align-items: var(--item-badges-align, flex-end);
  flex-shrink: 0;
  margin-top: 0.5rem;
}

.top-right {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.top-left {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.middle-left {
  position: absolute;
  bottom: 50%;
  left: 0.5rem;
}

.middle-right {
  position: absolute;
  bottom: 50%;
  right: 0.5rem;
}

.print-only {
  display: none;
}

@media print {
  section.items {
    --item-max-width: 300px;
  }

  .print-only {
    display: unset;
  }

  .print-hide {
    display: none;
  }

  .item-card {
    box-shadow: none;
    border: none;
    page-break-inside: avoid;
  }
}
